.box {
    margin: auto;
    width: 1000px;
    height: 750px;
    background-color: black;
}

.detail {
    margin: 20px;
    padding: 40px;
    color: white;
    text-align: center;
}

.detail_a {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.detail_b {
    margin: 20px;
    text-align: left;
    font-family: 'Kanit', sans-serif;
}